apiVersion: v1
kind: Config
clusters:
- cluster:
    # Embed the CA certificate in the kubeconfig file
    certificate-authority-data: ${base64encode(ca_cert)}
    server: ${server}
  name: ${cluster_name}

contexts:
- context:
    cluster: ${cluster_name}
    user: admin
  name: admin@${cluster_name}

current-context: admin@${cluster_name}

users:
- name: admin
  user:
    # Embed client certificate and key data
    client-certificate-data: ${base64encode(client_cert)}
    client-key-data: ${base64encode(client_key)}
