[Unit]
Description=Kubernetes Kubelet
After=network.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config=/var/lib/kubelet/config.yaml \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
  --runtime-cgroups=/system.slice/containerd.service \
  --kubelet-cgroups=/system.slice/kubelet.service

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
