apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: ${base64encode(ca_cert)}
    server: ${server}
  name: ${cluster_name}

contexts:
- context:
    cluster: ${cluster_name}
    user: system:kube-scheduler
  name: system:kube-scheduler@${cluster_name}

current-context: system:kube-scheduler@${cluster_name}

users:
- name: system:kube-scheduler
  user:
    client-certificate-data: ${base64encode(client_cert)}
    client-key-data: ${base64encode(client_key)}
